.navbar { 
    display: flex;
    width: 100%;
    padding: 20px 4%;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    z-index: 2;
}


.navbar-logo {
    color: var(--primary);
    font-weight: 500;
    font-size: .88rem;
}

.button {
    width: fit-content;
    border: none;
    padding: 14px 52px;
    border-radius: 28px;
    font-family: Poppins;
    font-size: .68rem;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.navbar-navigation{
    display: flex;
    gap: 28px;
    font-size: .72rem;
}

.navbar-navigation > span {
    cursor: pointer;
    padding: 4px;
}

.mobile-slider {
    display: none;
}

.exit-icon {
    position: absolute;
    right: 4%;
    top: 20px;
    font-size: 1.2rem;
}

.contact-form-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: transparent;
}

.contact-form-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(35, 35, 35, .2);
    backdrop-filter: blur(12px);
    z-index: -1;
}

.contact-form-header {
    position: relative;
    display: flex;
    width: 100%;
    gap: 40%;
    font-size: 1.1rem;
    font-weight: 500;

    span:nth-child(1) {
        cursor: pointer;
    }
}


.form-wrapper {
    width: 50%;
    height: 456px;
    background-color: var(--bg);
    position: relative;
    top: 45%;
    border-radius: 12px;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: column;
    min-width: 560px;
    padding: 20px 40px;
    gap: 4px;
    box-shadow: 0 0 2px rgba(225, 225, 225, 0.765);
}

.contact-form-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 12px;

    input, textarea {
        width: 100%;
        outline: none;
        background-color: rgba(51, 51, 51, 0.765);
        border: none;
        padding: 16px;
        border-radius: 4px;
        color: white;
        box-shadow: 0 0 2px rgba(75, 74, 74, 0.513);
    }

    input:focus, textarea:focus {
        outline: 1px solid var(--primary-light);
        box-shadow: 0 0 2px var(--primary-light);
    }

    textarea {
        height: 180px;
    }

    .button {
        width: 100%;
        background-color: var(--primary);
        color: white;
        padding: 16px;
    }
}


@media screen and (max-width: 600px) {
    .contact-form-container {
        padding: 0px 0;
        background-color: var(--bg);
    }

    .contact-form-blur {
        display: none;
    }

    .contact-form-header {
        display: flex;
        align-items: center;
        gap: 30%;
        font-size: 1.1rem;
        font-weight: 500;

        span:first-child {
            font-size: 1.2rem;
            padding: 8px;
        }
    }

    .form-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        top: auto;
        left: auto;
        padding: auto;
        min-width: auto;
        translate: 0 0;
        border-radius: 0;
    }

    .contact-form-main {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 12px;

        input, textarea {
            width: 100%;
        }

        textarea {
            height: 280px;
        }

        .button {
            width: 100%;
            background-color: var(--primary);
            color: white;
            padding: 16px;
        }
    }

    .navbar-navigation {
        display: none;
    }

    .navbar > .button {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
        font-size: 1.6rem;
        z-index: 2;
        position: relative;
    }

    .mobile-slider {
        width: 100%;
        background-color: rgb(35, 35, 35);
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 2;
        padding: 32px 8%;
        padding-top: 60px;
    }

    .mobile-slider .navbar-navigation {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2px;

        span {
            width: 100%;
            border-bottom: 1px solid rgb(120, 120, 120, .3);
            padding: 20px 16px;
        }

        span:last-child  {
            border-bottom: none;
        }
    }

    .slider-button {
        position: absolute;
        bottom: 72px;
        width: 84%;
    }

}